/* Media query con ancho mínimo de 200px y máximo de 567px */
@media (min-width: 200px) and (max-width: 900px) {
	[class*="col-"] {
    width: 100%;
  }
	.title{
		text-align: center;
    font-size: 2em;
	}	
  .btnFindMe{
    margin-top: 2em;
    width: 21.5em;
    margin-left: 1em;
  }
  .labelOrigen{
    top: 2em;
    margin-left: 1em;
  }
  #inputOrigin{
    margin-left: 1em;
  }
  .labelDestino{
    top: 2em;
    margin-left: 1em;
  }
  #inputDestination{
    margin-left: 0.77em;
  }
  .btn-route{
    margin-top: 1.5em;
    width: 21.5em;
    margin-left: 1em;
  }
  #map{
    width: 12%;
    height: 6vh;
    position: relative;
    right: 0.30em;
    left: 0.10em;
    zoom: 0.40;
  }
  
}
